# --- Data ---
data/raw/
data/processed/
data/test_videos/
*.zip
*.tar
*.gz

# --- YOLO & Models ---
runs/
../runs/
*.pt
!models/trained/best.pt

# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
ultralytics_env/

# --- Project Outputs ---
outputs/video/
!outputs/images/

# --- OS Specific ---
.DS_Store
Thumbs.db
desktop.ini